doctype html
html
	head
		title Starter
		meta(charset="utf-8")

		//- Mobile Capable
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")

		//- scripts
		script(type="text/javascript" src="js/dist.js")

		//- css
		link(rel="stylesheet", href="css/style.css")

	body
		h1 Hello!
		p This is a starter project
